interactions:
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Meu
      CPF \xE9 390.533.447-05.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou sistema automatizado.\"}},\"partial_conversation_history\":[]}}"
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_6801kqv0a5defk3841wy15q56cv6/simulate-conversation
  response:
    body:
      string: "{\"simulated_conversation\":[{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_6801kqv0a5defk3841wy15q56cv6\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Hello,
        this is the telecom support demo. For your security, what is your CPF?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":0,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"Ol\xE1!
        \ Meu CPF \xE9 123.456.789-00.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":1,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_6801kqv0a5defk3841wy15q56cv6\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Thank
        you.  Please give me a moment while I look up your account information.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":{\"metrics\":{\"convai_llm_service_ttf_sentence\":{\"elapsed_time\":0.826885374262929},\"convai_llm_service_ttfb\":{\"elapsed_time\":0.8265565428882837},\"convai_llm_service_tt_last_sentence\":{\"elapsed_time\":0.901080658659339}},\"convai_asr_provider\":null,\"convai_tts_model\":null,\"convai_tts_cascade\":null},\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":2,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_6801kqv0a5defk3841wy15q56cv6\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":null,\"multivoice_message\":null,\"tool_calls\":[{\"type\":\"webhook\",\"request_id\":\"lookup_telecom_account_a7b671f7ccd74ce99de28f6610837813\",\"tool_name\":\"lookup_telecom_account\",\"params_as_json\":\"{\\\"cpf\\\":
        \\\"12345678900\\\"}\",\"tool_has_been_called\":false,\"tool_details\":null}],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":3,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_6801kqv0a5defk3841wy15q56cv6\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":null,\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[{\"request_id\":\"lookup_telecom_account_a7b671f7ccd74ce99de28f6610837813\",\"tool_name\":\"lookup_telecom_account\",\"result_value\":\"Tool
        Called.\",\"is_error\":false,\"is_blocked\":false,\"tool_has_been_called\":true,\"tool_latency_secs\":0.0,\"error_type\":\"\",\"raw_error_message\":\"\",\"dynamic_variable_updates\":[],\"type\":\"webhook\"}],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":4,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_6801kqv0a5defk3841wy15q56cv6\",\"branch_id\":null,\"workflow_node_id\":null,\"version_[...]
[...]
