interactions:
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Meu
      CPF \xE9 390.533.447-05.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou sistema automatizado.\"}},\"partial_conversation_history\":[]}}"
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_5801kqe3m9ftfe6tveceg5yqgbep/simulate-conversation
  response:
    body:
      string: "{\"simulated_conversation\":[{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_5801kqe3m9ftfe6tveceg5yqgbep\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Ol\xE1!
        Aqui \xE9 o atendimento telecom de demonstra\xE7\xE3o. Para sua seguran\xE7a,
        qual o seu CPF?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":0,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"Meu
        CPF \xE9 123.456.789-00.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":1,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_5801kqe3m9ftfe6tveceg5yqgbep\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Obrigado.
        \ Estou verificando as informa\xE7\xF5es da sua conta.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":{\"metrics\":{\"convai_llm_service_ttf_sentence\":{\"elapsed_time\":0.7636358281597495},\"convai_llm_service_ttfb\":{\"elapsed_time\":0.763325247913599},\"convai_llm_service_tt_last_sentence\":{\"elapsed_time\":0.7717358558438718}},\"convai_asr_provider\":null,\"convai_tts_model\":null,\"convai_tts_cascade\":null},\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":2,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"Ok.
        E o que voc\xEA est\xE1 verificando?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\[...]
[...]
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Meu
      CPF \xE9 390.533.447-05.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou sistema automatizado.\"}},\[...]
[...]
