interactions:
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Estou
      com febre alta h\xE1 dois dias e cansa\xE7o.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou sistema automatizado.\"}},\"partial_conversation_history\":[]}}"
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_7501kqv0aadyfx7spc2r93djw1bb/simulate-conversation
  response:
    body:
      string: "{\"simulated_conversation\":[{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_7501kqv0aadyfx7spc2r93djw1bb\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Hello,
        this is the healthcare triage demo. In a few words, what is your main symptom
        today?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":0,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"Ol\xE1!
        \ Estou com uma dor de cabe\xE7a bem forte e uma febre que n\xE3o passa.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":1,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_7501kqv0aadyfx7spc2r93djw1bb\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"I
        understand you're experiencing a strong headache and a persistent fever.  To
        help me understand your situation better, could you please tell me how long
        you've had the fever and if you're experiencing any other symptoms like a
        stiff neck, sudden vision changes, or unusual weakness?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":{\"metrics\":{\"convai_llm_service_ttf_sentence\":{\"elapsed_time\":2.4221424721181393},\"convai_llm_service_ttfb\":{\"elapsed_time\":2.4217169722542167},\"convai_llm_service_tt_last_sentence\":{\"elapsed_time\":2.5972290602512658}},\"convai_asr_provider\":null,\"convai_tts_model\":null,\"convai_tts_cascade\":null},\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":2,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"A
        febre come\xE7ou faz uns dois dias.  Al\xE9m da dor de cabe\xE7a, estou sentindo
        o corpo meio mole e um cansa\xE7o grande.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],[...]
