interactions:
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Estou
      com febre alta h\xE1 dois dias e cansa\xE7o.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou sistema automatizado.\"}},\"partial_conversation_history\":[]}}"
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_1101kqfnhz5afzrs59hj247zaefe/simulate-conversation
  response:
    body:
      string: "{\"simulated_conversation\":[{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_1101kqfnhz5afzrs59hj247zaefe\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Ol\xE1,
        aqui \xE9 a triagem de sa\xFAde de demonstra\xE7\xE3o. Para te orientar com
        seguran\xE7a, em poucas palavras qual \xE9 o seu sintoma principal hoje?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":0,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"Oi,
        bom dia.  Estou com uma dor de cabe\xE7a bem forte.\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":null,\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":1,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"agent\",\"agent_metadata\":{\"agent_id\":\"agent_1101kqfnhz5afzrs59hj247zaefe\",\"branch_id\":null,\"workflow_node_id\":null,\"version_id\":null},\"message\":\"Compreendo.
        \ Para te ajudar da melhor forma, preciso de mais algumas informa\xE7\xF5es
        sobre essa dor de cabe\xE7a. Voc\xEA poderia descrever como ela \xE9, se sente
        em algum lugar espec\xEDfico, e se est\xE1 acompanhada de outros sintomas
        como febre, altera\xE7\xF5es na vis\xE3o, ou rigidez no pesco\xE7o?\",\"multivoice_message\":null,\"tool_calls\":[],\"tool_results\":[],\"feedback\":null,\"llm_override\":null,\"time_in_call_secs\":0,\"conversation_turn_metrics\":{\"metrics\":{\"convai_llm_service_ttf_sentence\":{\"elapsed_time\":2.2416889000451192},\"convai_llm_service_ttfb\":{\"elapsed_time\":2.241361640044488},\"convai_llm_service_tt_last_sentence\":{\"elapsed_time\":2.388463548035361}},\"convai_asr_provider\":null,\"convai_tts_model\":null,\"convai_tts_cascade\":null},\"rag_retrieval_info\":null,\"llm_usage\":null,\"interrupted\":false,\"original_message\":null,\"source_medium\":null,\"source_event_id\":2,\"used_static_kb_document_ids\":[],\"file_input\":null,\"contextual_update_info\":null},{\"role\":\"user\",\"agent_metadata\":null,\"message\":\"\xC9
        uma dor latejante, sabe?  Principalmente de um lado da cabe\xE7a, e est\xE1
        me dando um pouco de enjoo. Tamb\xE9m estou sens\xEDvel \xE0 luz.  N\xE3o
        tenho febre, nem rigidez no pe[...]
[...]
- request:
    body: "{\"simulation_specification\":{\"simulated_user_config\":{\"first_message\":\"Estou
      com febre alta h\xE1 dois dias e cansa\xE7o.\",\"language\":\"en\",\"prompt\":{\"prompt\":\"Voc\xEA
      \xE9 um cliente brasileiro realista em uma liga\xE7\xE3o de suporte. Responda
      em portugu\xEAs do Brasil, de forma natural e breve, com d\xFAvidas e informa\xE7\xF5es
      plaus\xEDveis do cen\xE1rio. N\xE3o diga que \xE9 uma IA, assistente, modelo
      de linguagem ou siste[...]
